body{
    font-family: "Inter", sans-serif;
    color: #343a40;
    line-height:1;
}
.accordion{
    width: 780px;
    height: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;  
}
.item{
    box-shadow: 0 0 32px rgba(0,0,0,0.1);
    padding: 24px;
     display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
        
}
.number,.text {
    font-size: 24px;
    font-weight: 500;
    /* color: green; */
}
.number{
    color: white ;
}
icon {
    width: 24px;
    height: 24px;
    stroke: green;
}
.hidden-box{
    grid-column: 2;
    display: none;
}
.hidden-box p{
    line-height: 1.6;
    margin-bottom: 24px;
}
.hidden-box ul {
    color: grey;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.open{
    border-top: 4px solid green;
}
.open .hidden-box{
    display: block ;
}
.open .number, .open .text{
    color: green;
}